<app-loading *ngIf="ProductosService.cargando"></app-loading>

<div *ngIf="!ProductosService.cargando" class="contenedor-producto animate__animated animate__fadeIn">
    <div *ngFor="let productos of ProductosService.productos" class="producto">
        <div class="thumb">
            <img [src]="productos.url" alt="">
        </div>
        <div class="descripcion">
            <p class="nombre">{{ productos.nombre }}</p>
            <p class="nota">{{ productos.frase }}</p>
        </div>
        <p class="precio">{{ productos.precio }}</p>
        <div class="button">
            <button routerLink="/producto/{{ productos.cod }}" class="btn">Ver mas información</button>
        </div>
    </div>
</div>