<app-loading *ngIf="productoService.cargando"></app-loading>

<div *ngIf="!productoService.cargando" class="contenedor-producto animate__animated animate__fadeIn">
    <div *ngFor="let producto of productoService.lupulo" class="producto">
        <div class="thumb">
            <img [src]="producto.url" alt="">
        </div>
        <div class="descripcion">
            <p class="nombre">{{ producto.nombre }}</p>
            <p class="nota">{{ producto.frase }}</p>
        </div>
        <p class="precio">{{ producto.precio }}</p>
        <div class="button">
            <button class="btn">Ver mas información</button>
        </div>
    </div>
</div>