<app-proximamente *ngIf="!productoCompleto"></app-proximamente>

<div *ngIf="productoCompleto" class="contenedor-producto animate__animated animate__fadeIn" style="height: 600px;">
    <div class="producto">
        <div class="thumb">
            <img [src]="productoCompleto.url" alt="">
            <div class="button">
                <a class="btn" routerLink="/productos">Regresar</a>
            </div>
        </div>
        <div class="descripcion">
            <p class="nombre">{{ productoCompleto.producto | uppercase }}
                <img *ngIf="productoCompleto.categoria == 'lupulo'" class="img-logo" src="assets/img/lupulo-icono.jpg" alt="">
                <img *ngIf="productoCompleto.categoria == 'rizoma'" class="img-logo" src="assets/img/rizoma-icono.jpg" alt="">
            </p>
            <p class="nota">{{ productoCompleto.descripcion }}</p>
            <p class="aroma"><strong>Aroma: </strong>{{ productoCompleto.aroma }}</p>
            <p class="estilo"><strong>Estilos: </strong>{{ productoCompleto.estilo }}</p>
            <p [ngClass]="{'displaynone':productoCompleto.categoria == 'rizoma'}" class="alfa"><strong>Alfa ácidos: </strong>{{ productoCompleto.alfa_acidos }}</p>
            <p [ngClass]="{'displaynone':productoCompleto.categoria == 'rizoma'}" class="beta"><strong>Beta ácidos: </strong>{{ productoCompleto.beta_acidos }}</p>
            <p class="cantidad"><strong>Cantidad: </strong>{{ productoCompleto.cantidad}}</p>
            <p class="disponible" [ngStyle]="{'color':productoCompleto.disponibilidad == 'Disponible' ? 'green' : 'red' }">{{ productoCompleto.disponibilidad}}<p>
            <!-- <p class="disponible">{{ productoCompleto.disponibilidad}}</p> -->
            <!-- <p class="precio" style="display:none;">$10.000</p> -->
            <!-- <div class="perfil-aromatico">
                <img src="assets/img/perfilaromatico.png" alt="">
            </div> -->
        </div>
    </div>
</div>