footer {
    background: #1b1f23;
    padding: 20px;
    overflow: hidden;
}

.copyright {
    color: white;
    text-align: center;
    padding: 10px;
}


/* ----- ----- FOOTER - REDES SOCIALES ----- ----- */

footer .titulo {
    text-align: center;
    color: #fff;
}

footer .titulo h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

footer .contenedor {
    display: flex;
    justify-content: center;
}

footer .contenedor a {
    width: 10%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 0;
    margin: 20px 50px;
    transition: all .3s ease;
}

footer .facebook:hover {
    background: #3b5998;
    color: #fff;
}

footer .youtube:hover {
    background: #ff0000;
    color: #fff;
}

footer .instagram:hover {
    background: #e1306c;
    color: #fff;
}